.createTripBackground {
    height: 944px;
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-size: cover;
    background-position: center;
}

.create-trip-main {
    background: rgba(230, 226, 226, 0.8);
    color:black;;
    width: 80%;
    height: 70%;
    padding: 50px 0 50px 0;
    margin-top: 200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(239, 229, 229);
    border-radius: 10px;
}

.createTripHeader {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    text-align: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelName {
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.labelName h5 {
    font-weight: bolder;
}

.inputStyle {
    width: 80%;
    height: 50px;
}

.inviteUserBtn {
    background-color: rgb(151, 197, 193) !important;
    border: 1px solid rgb(151, 197, 193) !important;
    color:#222529 !important;
    z-index: 0 !important;
}

.inviteUserBtn:hover .inviteUserIcon {
    transform: scale(0.8);
    color:red;
}

.createTripBtn {
    background-color: green !important;
    border-style: hidden !important;
    border-radius: 12px !important;
    width: 125px;
}

.createTripBtnIcon {
    margin-right: 5px;
}

.createTripBtn:hover{
    transform: scale(0.9);
}

.cancel {
    background-color: red !important;
    border-style: hidden !important;
    width: 125px;
    border-radius: 12px !important;
}

.cancelIcon {
    margin-right: 5px;
}

.cancel:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 576px) {

    .create-trip-main {
        height: auto
    }

    .inputStyle {
        width: 80% !important;
        align-self: center !important;
        height: 50px;
    }

    .datePicker-mobile {
        padding: 0px 20px;
    }
}