.viewTripsCard {
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardTripName {
    color: rgb(3, 3, 98);
    text-align: center !important;
    margin: 15px auto;
    border-bottom: 2px solid rgb(3, 3, 98);
}

.cardTripName h3 {
    font-weight: bolder !important;
    margin: 5px 0px !important;
}

.cityName {
    display: flex;
    flex-direction: row;
    color: rgb(3, 3, 98);
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.tripDuration {
    display: flex;
    flex-direction: row;
    color: rgb(3, 3, 98);
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.numberOfTraveler {
    display: flex;
    flex-direction: row;
    color: rgb(3, 3, 98);
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.viewDeleteBtn {
    display: flex;
    flex-direction: column !important;
    align-self: center;
}

.tripViewBtn {
    background-color: blue !important;
    color: white !important;
    font-weight: bolder !important;
}

.tripDeleteBtn {
    background-color: rgb(211, 46, 17) !important;
    color: white !important;
    font-weight: bolder !important;
}

.pTag {
    margin-bottom: 0px !important;
}

.locationIcon {
    color: black;
    transform: scale(0.8);
}

.durationIcon {
    color: black;
    transform: scale(0.8);
}

.groupIcon {
    color: black;
    transform: scale(0.8);
}