.contact-main {
  background-color: #2155CD;
  color: #E8F9FD;
  font-family: 'Montserrat', sans-serif !important;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 2em;
  margin-bottom: 1em;
}

.contact-header h1 {
  font-weight: bolder !important;
}

.meet-our-team-button {
  text-decoration: none;
  color: #79DAE8;
}

.meet-our-team-button:hover {
  text-decoration: none;
  color: #79DAE8;
}

.contact-us-modal-button {
  color: #79DAE8;
  cursor: pointer;
  margin-bottom: 1em;
}

.contact-team {
  width:80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.fe-be-team {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-individual {
  display: flex;
  flex-direction: row;
}

.contact-logo {
  width:120px;
  height:40px;
}

.contact-list {
  display: inline-flex;
  list-style-type: none;
}

@media screen and (max-width: 458px) {
  .contact-individual {
    flex-direction: column;
  }
}